name: Flutter Cross-Platform Build
on: [push, pull_request]

jobs:
  build-linux-x64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ninja-build \
            libgtk-3-dev \
            clang \
            cmake \
            gcc \
            g++ \
            libglu1-mesa \
            libwayland-dev \
            libxkbcommon-dev

      - name: Install Flutter
        uses: cjlapao/setup-flutter-action@v0.1.6
        with:
          channel: 'stable'
          architecture: x64

      - name: Build Native Linux Binaries
        run: |
          mkdir -p assets/native/linux/x64
          chmod +x ./scripts/build_native_linux.sh
          ./scripts/build_native_linux.sh x64
          chmod +x assets/native/linux/x64/*

      - name: Update pubspec.yaml Assets
        run: |
          line_number=$(grep -n '^  assets:' pubspec.yaml | cut -d: -f1)
          tmp_file=$(mktemp)
          head -n $line_number pubspec.yaml > "$tmp_file"
          echo '    # Linux x64 binaries' >> "$tmp_file"
          echo '    - assets/native/linux/x64/hello_c' >> "$tmp_file"
          echo '    - assets/native/linux/x64/hello_cpp' >> "$tmp_file"
          echo '    - assets/native/linux/x64/hello_rust' >> "$tmp_file"
          echo '    - assets/native/linux/x64/hello_go' >> "$tmp_file"
          tail -n +$((line_number + 1)) pubspec.yaml >> "$tmp_file"
          mv "$tmp_file" pubspec.yaml


      - name: Build Flutter Linux App
        run: |
          flutter config --enable-linux-desktop
          flutter create --platforms=linux .
          flutter clean
          flutter pub get
          flutter build linux --release --target-platform=linux-x64 --verbose

      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v3
        with:
          name: linux-app-x64
          path: build/linux/x64/release/bundle

  build-linux-arm64:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup ARM64 Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            ninja-build \
            libgtk-3-dev \
            clang \
            cmake \
            gcc-aarch64-linux-gnu \
            g++-aarch64-linux-gnu \
            libglu1-mesa \
            libwayland-dev \
            libxkbcommon-dev

      - name: Install Flutter
        uses: cjlapao/setup-flutter-action@v0.1.6
        with:
          channel: 'stable'
          architecture: arm64

      - name: Install ARM64 toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

      - name: Build Native Linux ARM64 Binaries
        run: |
          mkdir -p assets/native/linux/arm64
          chmod +x ./scripts/build_native_linux.sh
          ./scripts/build_native_linux.sh arm64
          chmod +x assets/native/linux/arm64/*
          sudo apt install neofetch -y
          neofetch

      - name: Update pubspec.yaml Assets
        run: |
          line_number=$(grep -n '^  assets:' pubspec.yaml | cut -d: -f1)
          tmp_file=$(mktemp)
          head -n $line_number pubspec.yaml > "$tmp_file"
          echo '    # Linux ARM64 binaries' >> "$tmp_file"
          echo '    - assets/native/linux/arm64/hello_c' >> "$tmp_file"
          echo '    - assets/native/linux/arm64/hello_cpp' >> "$tmp_file"
          echo '    - assets/native/linux/arm64/hello_rust' >> "$tmp_file"
          echo '    - assets/native/linux/arm64/hello_go' >> "$tmp_file"
          tail -n +$((line_number + 1)) pubspec.yaml >> "$tmp_file"
          mv "$tmp_file" pubspec.yaml

      - name: Build Flutter Linux ARM64 App
        run: |
          flutter config --enable-linux-desktop
          flutter create --platforms=linux .
          flutter clean
          flutter pub get
          flutter build linux --release --target-platform=linux-arm64 --verbose

      - name: Upload Linux ARM64 Artifact
        uses: actions/upload-artifact@v3
        with:
          name: linux-app-arm64
          path: build/linux/arm64/release/bundle

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Windows Dependencies
        run: choco install cmake ninja -y

      - name: Install Flutter
        uses: subosito/flutter-action@v2.13.0
        with:
          channel: 'stable'
          architecture: x64

      - name: Build Native Windows Binaries
        run: |
          mkdir assets\native\windows\x64
          ./scripts/build_native_windows.ps1

      - name: Update pubspec.yaml Assets
        run: |
          $file = 'pubspec.yaml'
          $lines = Get-Content $file
          $insertIndex = $lines.IndexOf('  assets:') + 1
          $newLines = @(
              $lines[0..($insertIndex-1)]
              '    # Windows x64 binaries'
              '    - assets/native/windows/x64/hello_c.exe'
              '    - assets/native/windows/x64/hello_cpp.exe'
              '    - assets/native/windows/x64/hello_rust.exe'
              '    - assets/native/windows/x64/hello_go.exe'
              $lines[$insertIndex..$lines.Count]
          )
          $newLines | Set-Content $file


      - name: Build Flutter Windows App
        run: |
          flutter create --platforms=windows .
          flutter clean
          flutter pub get
          flutter build windows --release

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v3
        with:
          name: windows-app-x64
          path: build\windows\x64\runner\Release

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup macOS Dependencies
        run: brew install cmake ninja

      - name: Install Flutter
        uses: cjlapao/setup-flutter-action@v0.1.6
        with:
          channel: 'stable'
          architecture: x64

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Build Native macOS Binaries
        run: |
          mkdir -p assets/native/macos/x64
          chmod +x ./scripts/build_native_macos.sh
          ./scripts/build_native_macos.sh x64
          chmod +x assets/native/macos/x64/*

      - name: Update pubspec.yaml Assets
        run: |
          line_number=$(grep -n '^  assets:' pubspec.yaml | cut -d: -f1)
          tmp_file=$(mktemp)
          head -n $line_number pubspec.yaml > "$tmp_file"
          echo '    # macOS x64 binaries' >> "$tmp_file"
          echo '    - assets/native/macos/x64/hello_c' >> "$tmp_file"
          echo '    - assets/native/macos/x64/hello_cpp' >> "$tmp_file"
          echo '    - assets/native/macos/x64/hello_rust' >> "$tmp_file"
          echo '    - assets/native/macos/x64/hello_go' >> "$tmp_file"
          tail -n +$((line_number + 1)) pubspec.yaml >> "$tmp_file"
          mv "$tmp_file" pubspec.yaml



      - name: Build Flutter macOS App
        run: |
          flutter create --platforms=macos .
          flutter clean
          flutter pub get
          flutter build macos --release

      - name: Upload macOS Artifact
        uses: actions/upload-artifact@v3
        with:
          name: macos-app-x64
          path: build/macos/Build/Products/Release
